@charset "utf-8";

:root {
  --main-color: #2957e2;
  --sub-color: #eee;
  --sub-font: 3rem;
}

html{
  /* font siza: 10px */
  font-size: 62.5%;
}

body{
  /* font-size: clamp(1rem,1vw,1.8rem); */
  background-color: var(--main-color);
  color: var(--sub-color);
  overflow-x: hidden;
}

#logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
  line-height: 80px;
  position: fixed;
  top: 20px;
  left: 20px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#logo > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  color: var(--main-color);
  transition: top 0.5s;
}
#logo > li:nth-child(1) {
  top: 0;
}
#logo > li:nth-child(2) {
  top: 100%;
}
#logo:hover > li:nth-child(1) {
  top: -100%;
}
#logo:hover > li:nth-child(2) {
  top: 0;
}

header{
  padding-top: 25%;
  height: 100vh;
  position: relative;
  font-size: 3rem;
}
header nav{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
header .gnb{
  font-size: 3rem;
}
ul.gnb > li {
  position: relative;
}
ul.gnb > li > a {
  transition: all 0.5s;
  transform-origin: left;
}
ul.gnb > li:hover > a {
  color: var(--main-color);
  transform: scale(1.3);
  padding: 10px;
}
ul.gnb > li::before {
  content: "";
  background-color: var(--sub-color);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
ul.gnb > li:hover::before {
  width: 100%;
}
header .title{
  font-size: 2rem;
  align-self: flex-end;
}
header .title li {
  margin: 2rem 0;
}
h1{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14vw;
}
.arrow-wrap{
  position: absolute;
  left: 15%;
  bottom: 20%;
  /* transform: translateX(-50%); */
  width: 100px;
  height: 80px;
  /* margin-top: 7rem; */
  opacity: 0.7;
}
.arrow-wrap > div{
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-wrap > .arrow-box{
  transform: rotate(30deg);
  background-color: var(--sub-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  animation: rotateBox 10s linear infinite;
}
@keyframes rotateBox {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arrow-wrap > .arrow{
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}

/* 공통 */
section{
  width: 90%;
  margin: 10rem auto;
}
/* about */
section#about{
  margin-top: 10rem;
  font-size: 1.5rem;
}

#about .info{
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  z-index: -2;
}

#about .info h2 {
  font-size: var(--sub-font);
  display: inline-block;
  color: var(--sub-color);
  -webkit-text-stroke: 1px var(--main-color);
  z-index: 10;
  position: relative;
}
#about .info h2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  display: block;
  width: 70px;
  aspect-ratio: 1/0.8;
  background-color: var(--main-color);
  border-radius: 15px;
  z-index: -1;
}

#about .info > p{
  text-align: right;
  margin-top: 4rem;
  word-break: keep-all;
}

#about .word{
  margin: 5rem 0;
}
#about .word h2{
  font-size: var(--sub-font);
}
#about .word h2.bottom{
  text-align: right;
}
#about .keyword > li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
#about .keyword > li > p{
  padding: 1rem 2rem;
  border: 1px solid var(--sub-color);
  font-size: 4vw;
  font-weight: bolder;
  border-radius: 4rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transition: all 0.3s;
  word-break: keep-all;
  text-align: center;
}
#about .keyword > li > p.active:hover {
  background-color: var(--sub-color);
  color: var(--main-color);
}

/* project */
#projects > .project-wrap{
  margin-bottom: 6rem;
}
#projects > .project-wrap > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-bottom: 2rem;
}

#projects > .project-wrap > .item-list{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#projects > .project-wrap > .item-list > .item{
box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.item-list > .item > .item-img {
  width: 100%;
  aspect-ratio: 1/0.6;
  background-color: #888;
}

#projects > .project-wrap > .item-list > li > *{
  border: 1px solid var(--sub-color);
  border-top: none;
}
#projects > .project-wrap > .item-list > li > .item-title{
  border-top: 1px solid var(--sub-color);
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 10px;
}
#projects > .project-wrap > .item-list > li > .item-overview{
  padding: 10px;
}
#projects > .project-wrap > .item-list > li > .item-detail{
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 10px 0;
}

.item-list > .item > .item-detail > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-list > .item > .item-detail > li > p {
  font-weight: 700;
  width: 9rem;
  text-align: right;
  padding: 8px 0;
}

.item-list > .item > .item-detail > li > .tool {
  display: flex;
  gap: 1rem;
}
.item-list > .item > .item-detail > li > .tool > p {
  background-color: var(--main-color);
  border-radius: 2rem;
  padding: 3px 10px;
  color: var(--sub-color);
}

.item-list > .item > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.item-list > .item > .btn > p {
  cursor: pointer;
  flex: 1;
  background-color: var(--main-color);
  color: var(--sub-color);
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}
.item-list > .item > .btn > p:hover{
  filter: brightness(70%);
}

/* practice 레이아웃 변경 */
#projects > .practice > .item-list{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.practice .item-detail > li > p{
  display: none;
}
.practice .item{
  width: 47%;
}

/* 수정하기 */
.practice .item-detail .tool {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  margin: 0 auto;
}

/* skills */
#skills > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-bottom: 2rem;
}
#skills > .skill-item{
display: flex;
  /* flex-direction: column;  */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}
#skills > .skill-item > li:hover{
  filter: brightness(70%);
}
#skills > .skill-item > li{
  color: var(--sub-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 2rem;
  font-weight: border;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);

}
/* background */
.shape1{background-color: #2992E3;}
.shape2{background-color: #ADABC5;}
.shape3{background-color: #b4d0e4;}
.shape4{background-color: #6c71dd;}
.shape5{background-color: #24B3C6;}
.shape6{background-color: #8242e1;}
.shape7{background-color: #5679E3;}
.shape8{background-color: #467BA3;}
.shape9{background-color: #4D46A3;}
.shape10{background-color: #4698A3;}
.shape11{background-color: #7F53C0;}
.shape12{background-color: #849BE3;}
.shape13{background-color: #B1BEE3;}

/* footer */
footer{
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 3rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
footer .footer-wrap{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
footer .footer-wrap > h2{
  font-size: 6rem;
}
footer .footer-wrap > p{
  padding: 0 1rem;
  font-size: 1.8rem;
}
footer  .links > li{
  background-color: var(--main-color);
  color: var(--sub-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  margin: 1rem 0;
  border: 1px solid var(--main-color);
}