@charset "utf-8";

@font-face {
  font-family: 'CookieRun';
  src: url("../fonts/CookieRun\ Regular.ttf") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun';
  src: url("../fonts/CookieRun\ Bold.ttf") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun';
  src: url("../fonts/CookieRun\ Black.ttf") format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
body {
  height: 100vh;
  font-family: 'CookieRun', sans-serif;
  background-color: #eee;
  color: #441915;
}
