@charset "utf-8";
/* reset.css */
*{margin: 0; padding: 0;}

/* header 영역 */
header{
    /* 브라우저 한 페이지로 기본 사이즈 설정 */
    height: 100vh;
    background-color: #FFE26D;
    background-image: url(./images/usa.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
#head{
    width: 500px;
    text-align: center;
    color:#fff;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
#head > p:nth-child(1){
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bolder;
}
#head > p:nth-child(2){
    font-size: 1.2rem;
    margin: 1rem;
}
/* #head > div:nth-child(3){ */
.button_style{
    background-color:sandybrown;
    width: 150px;
    font-size: 0.6rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    color: white
}
.button_style:hover{
background-color: rgb(182, 121, 67);
}

/* section id=sns 영역 */
section#sns{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
section#sns > .card{
    width: 300px;
    text-align: center;
}
section#sns > .card > .icon{
    background-color: #aaa;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
section#sns > .card > .icon > i{
    font-size: 2rem;
    color: white;
}
section#sns > .card > p:nth-of-type(1){
    font-weight: bolder;
    font-size: 1.3rem;
}
section#sns > .card > p:nth-of-type(2){
    font-size: 0.8rem;
    color: #333;
    line-height: 2;
    padding: 10px;
}
section#sns > .card > a{
    text-decoration: none;
    color: #5d9ab2;
}
section#sns > .card > a > span{
    font-weight: bolder;
}

/* section id=detail */
section#detail{
    background-color: #5d9ab2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
section#life{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    padding: 20px 0;
}
section#detail > div,
section#life > div{
    width: 400px;
    padding: 50px;
}
section#detail > .img{
    background-image: url(./images/usagi&momong.jpg);
    background-size: cover;
    background-position: center;
}
section#life > .img{
    background-image: url(./images/usa2.jpg);
    background-size: cover;
    background-position: center;
}
section#detail > .txt > p:nth-of-type(1),
section#life > .txt > p:nth-of-type(1){
    font-size: 1.3rem;
    font-weight: border;
}
section#detail > .txt > p:nth-of-type(2),
section#life > .txt > p:nth-of-type(2){
    font-size: 0.8rem;
    line-height: 2;
    margin: 10px 0;
}
section#detail > .txt > p:nth-of-type(3),
section#life > .txt > p:nth-of-type(3){
    margin: 0;
}

/* section id=footer */
footer{
    background-color: #2b5566;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}
footer > .title > p:nth-of-type(1){
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 15px;
}

footer > nav{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
footer > nav > div > p{
    border-bottom: 1px solid white;
}
footer > nav > .card{
    flex: 1; /* 각 카드가 동일한 너비를 가짐 */
}
footer > nav > .card > p:nth-of-type(1){
    font-weight: bolder;
}
footer > nav > div > ul{
    list-style: none ;
    margin: 15px 0;
}
footer > nav > div > ul > li{
    padding: 5px;
}
