body{
        display: block;
    }

/* header 영역 */
header{
    margin: 1rem 0;
    background: #ffb0b0;
    background: linear-gradient(90deg,rgba(255, 176, 176, 1) 0%, #fcfc74 50%, rgba(171, 255, 182, 1) 100%);
    /* color: #143362; */
    color: #fff;
    text-shadow: 0 0 10px rgba(6, 13, 90, 0.5);
}

header > h1{
    padding: 2rem;
    font-size: 3rem;
}
header > .title{
    display: none;
}
header > .title > hr{
    margin-left: 2rem;
    width: 30%;
    outline: none;
    border: 2px solid #fff
}
header > .title > p{
    padding: 0.5rem 2rem;
}
/* main 영역 */
main{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
main > ul{
    width: 100%;
    max-width: 400px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1rem;
    float: right;
}
main > ul > li{
    flex: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
main > ul > li.on > a{
    background: #ffb0b0;
    background: linear-gradient(90deg,rgba(255, 176, 176, 1) 0%, #fcfc74 50%, rgba(171, 255, 182, 1) 100%);
    color: #143362;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(94, 226, 255, 0.5);
}
main > ul > li > a{
    display: block;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #888;
    text-align: center;
}
main > section {
    clear: both;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
}
article{
    /* width: 100%; */
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: #555;
    margin-bottom: 1rem;
}
/* article:nth-child(2) img{
    aspect-ratio: 1/1.5;
    object-fit: cover;
} */

article img{
    width: 100%;
    border: 2px solid #ddd;
}
article h2{
    font-size: 1rem;
    padding: 0.8rem 0;
    letter-spacing: 5px;
}
article p{
    font-size: 0.8rem;
    text-align: justify;
    word-break: keep-all;
    line-height: 1rem;
}

@media screen and (min-width:768px){
    body{
        display: block;
    }
    main > section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    article{
        /* width: 40%; */
        /* 
        1 : 남은 공간이 있으면 얼마나 늘릴지
        1 : 공간이 부족하면 얼만큼 줄일지
        250px : 기본 크기
         */
        flex: 1 1 300px;
    }
}

@media screen and (min-width:1024px) {
    body{
        display: flex;
        align-items: stretch;
    }
    header{
        margin: 0;
        width: 320px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    header > h1{
        font-size: 3rem;
        padding-top: 10rem;
    }
    main{
        padding: 1rem;
        margin: 0;
        margin-left: 350px;
    }
    main > ul{
        margin-right: 70px;
    }
    main > section{
        padding-bottom: 5rem;
        justify-content: flex-start;
        margin:  auto;
    }
    section > article{
        max-width: 350px;
        flex: 1 1 350px;
    }
    header > .title{
    display: block;
    }
}
