@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EBSHunminjeongeumSBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

$main-color: #79563c;
$sub-color: #af9375;
$light-color: #f6f4f0;
$black-color: #3e3c35;
$light-gray: #dadada;

$large: 2rem;
$normal: 1.5rem;
$small: 1rem;

// 

body {
    color: $black-color;
    font-size: $normal;
}

// header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    border-bottom: 1px solid $light-gray;

    h1 {
        background-image: url(../image/logo1.png);
        height: 50px;
        width: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px;
    }

    nav {
        ul {
            display: flex;
            font-size: $normal;
            font-family: 'EBSHunminjeongeumSBA';
        }
    }

    .left {
        ul {

            li {
                padding: 5px 15px;
                font-weight: bold;
            }
        }
    }

    .right {
        ul {
            li {
                padding: 10px;
            }
        }
    }
}

// banner
#banner {
    height: 70%;
    display: flex;

    .left {
        width: 25%;
        height: 100%;
        position: relative;

        .title {
            background-image: url(../image/m_bg.png);
            height: 100%;

            .txt {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem;

                h2 {
                    background-image: url(../image/logo2.png);
                    width: 180px;
                    height: 500px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 2rem 1.5rem;
            border-bottom-left-radius: 10px;
            border: none;
            background-color: $sub-color;
            color: $light-color;
            font-family: 'EBSHMJESaeronRA';
            font-size: $normal;
        }
    }

    .right {
        width: 75%;
        position: relative;

        .photo {
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        button {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2rem 1.5rem;
            border-top-right-radius: 10px;
            border: none;
            background-color: $main-color;
            color: $light-color;
            font-family: 'EBSHMJESaeronRA';
            font-size: $normal;
        }
    }
}

// notice
#notice {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 5em 0;

    .wrap1 {
        width: 500px;

        .menu {
            display: flex;
            font-family: 'EBSHMJESaeronRA';
            font-size: $large;
            justify-content: space-between;
            align-items: center;

            .menu1 {
                display: flex;

                h4 {
                    padding: 1rem;

                    &:nth-child(1) {
                        color: $main-color;
                        position: relative;

                        &::before {
                            content: "";
                            display: inline;
                            position: absolute;
                            left: 50%; // 가운데 기준점으로 이동
                            transform: translateX(-50%);
                            bottom: 5px;
                            height: 5px;
                            width: 80%;
                            background-color: $main-color;
                        }
                    }
                }
            }

            .menu2 {
                font-size: $normal;
            }
        }

        .inner {
            padding: 1rem;

            ul {
                li {
                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px;
                        font-size: $small;

                        p {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            span {
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: $sub-color;
                                margin: 5px;
                            }
                        }

                        em {
                            color: $sub-color;
                        }
                    }
                }
            }
        }
    }

    .wrap2 {
        border: 1px solid $sub-color;
        padding: 2rem;
        width: 400px;
        border-radius: 5px;
        background-image: url(../image/info_bg1.png);
        background-position: bottom;
        background-size: cover;

        .title {
            p {
                &:nth-child(1) {
                    font-size: $normal;
                    font-family: 'EBSHMJESaeronRA';
                }

                &:nth-child(2) {
                    font-size: $large;
                    font-weight: bolder;
                    margin-bottom: 1rem;
                }
            }
        }

        .info1 {
            display: flex;
            gap: 1rem;
            font-size: $small;
            margin-bottom: 20px;

            .left {
                p {
                    font-weight: bold;

                    span {
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $sub-color;
                        margin: 5px;
                    }
                }
            }

            .right {
                width: 60%;

                p {
                    margin-bottom: 5px;
                }

                span {
                    color: tomato;
                    font-weight: bold;
                }
            }
        }

        .info2 {
            display: flex;
            gap: 1rem;
            font-size: $small;

            .left {
                p {
                    font-weight: bold;
                    padding-right: 15px;

                    span {
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $sub-color;
                        margin: 5px;
                    }
                }
            }
        }
    }
}

// gallery

#gallery {
    margin: 10rem 0;
    position: relative;

    &::after{
        content: url(../image/sec1_bg.png);
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before{
        content: url(../image/m_bg.png);
        position: absolute;
        object-fit: contain;
        top: 0;
        right: 0;
    }

    .title {
        text-align: center;
        margin-bottom: 3rem;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 100px;
            background-color: #aaa;
        }

        h3 {
            font-size: 3rem;
            font-family: 'EBSHunminjeongeumSBA';

            span {
                font-family: 'Shilla_CultureB-Bold';
                font-size: 5rem;
                color: $main-color;
            }
        }

        p {
            font-size: $small;
            font-weight: bolder;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
            width: 400px;
            height: 400px;
            border-radius: 7rem 0.5rem 7rem 0.5rem;
            overflow: hidden;
            position: relative;

            &:nth-child(even) {
                transform: translateY(3rem);
            }

            &::after {
                content: "";
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            a {
                width: 100%;
                height: 100%;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    object-position: top;
                }

                .txt {
                    position: absolute;
                    display: flex;
                    font-family: 'EBSHunminjeongeumSBA';
                    color: #ffffff;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    left: 0;
                    bottom: 1rem;
                    z-index: 3;

                    span {
                        padding: 0 3rem;
                        display: inline-block;
                        white-space: nowrap;
                    }

                    em {
                        font-size: 3rem;
                        padding: 0 3rem;
                    }
                }
            }
        }
    }
}

// study

#study {
    background-color: #f5f1ea;
    padding: 5rem 0;
    margin: 2rem;
    position: relative;

    .bg{
        background-image: url(../image/sec3_bg3.png);
        position: absolute;
        bottom: -30px;
        right: 0;
    }

    &::after{
        content: url(../image/sec3_bg2.png);
        position: absolute;
        bottom: -30px;
        left: -30px;
    }

    &::before{
        content: "";
        position: absolute;
        background-image: url(../image/sec3_bg1.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .title {
        position: relative;
        text-align: center;
        margin-bottom: 3rem;

        &::before {
            content: "";
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            height: 100px;
            background-color: #aaa;
        }

        h3 {
            font-size: 3rem;
            font-family: 'EBSHunminjeongeumSBA';

            span {
                font-family: 'Shilla_CultureB-Bold';
                font-size: 5rem;
                color: $main-color;
            }
        }

        p {
            font-size: $small;
            font-weight: bolder;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        gap: 1rem;

        li {
            width: 400px;
            height: 380px;
            background-color: white;
            border: 1px solid $sub-color;
            border-radius: 1rem;
            z-index: 1;

            &:nth-child(1) {
                .imgwrap {
                    background-image: url(../image/study1.jpg);
                }
            }

            &:nth-child(2) {
                .imgwrap {
                    background-image: url(../image/study2.avif);
                }
            }

            &:nth-child(3) {
                .imgwrap {
                    background-image: url(../image/study3.jpg);
                }
            }

            &:nth-child(4) {
                .imgwrap {
                    background-image: url(../image/study4.jpg);
                }
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .imgwrap {
                    width: 90%;
                    height: 250px;
                    display: block;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    border-radius: 5px;

                    p {
                        padding: 1rem;
                        border: 2px solid $sub-color;
                        background-color: white;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }

                .txt {
                    text-align: left;
                    width: 90%;

                    p {
                        font-size: $normal;
                        padding-top: 10px;
                    }

                    em {
                        font-size: $small;
                    }
                }
            }
        }
    }
}

//footer
footer {
    height: 150px;
    background-color: $black-color;
    color: #aaa;
    font-size: $small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top{
        display: flex;
        border-bottom: 1px solid #aaa;
        width: 70%;
        p{
            padding: 20px 30px 20px 5px;
            &:nth-child(1){
                font-weight: bold;
                color: #af9375;
            }
        }
    }
    .bottom{
        text-align: left;
        width: 70%;
        padding: 10px 0;
    }
}